/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
2* {	border: 1px solid green;
}

body {
	padding:0 20px;
	background: #e2e5d8;    /*dfe4cb*/
	font: 1em Georgia, "Times New Roman", Times, serif;
	color: #111;
	min-width:360px;
}
a {
	color: #371;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}


p {
	margin: 0 0 1.2em;
	padding: 0;
}

/* list */
ul, ol {
	2margin: 1em 0 1.4em 24px;
	padding: 0;
	2line-height: 140%;
	list-style-type: none;
}
li {
	2margin: 0 0 .5em 0;
	padding: 0;
}



/* reset webkit search input styles 
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}*/

/************************************************************************************
STRUCTURE
*************************************************************************************/
section {
	margin-bottom:20px;
}

#pagewrap {
	width: 980px;
	margin: 0 auto;
}

/************************************************************************************
HEADER
*************************************************************************************/
/* headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: .4em 0 .1em 0;
	color: #000;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

.logotag { display:inline-block;
}
 
#site-logo, #site-logo a  {
	font: bold 220% Georgia, "Times New Roman", Times, serif;
	color: #eff4db;;
	text-decoration: none;
}

#site-description {
	font: italic 120%/40%  Georgia, "Times New Roman", Times, serif;
	letter-spacing: .3em;
	color: #777;
	float:right;
}



/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/

#nav1 {
	margin: 20px auto 0; 
	text-align: left;
}

#nav1 ul ul {
	display: none;
}

	#nav1 ul li:hover > ul {
		display: block;
	}

	#nav1 > ul {	
	width: 100%;
	}
		
#nav1 ul {	
	font: 80% Georgia, "Times New Roman", Times, serif;
	list-style: none;
	position: relative;
	display: inline-table;
	background-color: #eff4db;
	/* background gradient 	  
	background: #dfe4cb url(images/#nav1-bar-bg.png) repeat-x; 
	background: linear-gradient(top, #dfe4cb 0%, #bdc2a9 100%);  
	background: -moz-linear-gradient(top, #dfe4cb 0%, #bdc2a9 100%); 
	background: -webkit-linear-gradient(top, #dfe4cb 0%,#bdc2a9 100%);  */ 
	/* rounded corner */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}
	#nav1 ul:after {
		content: ""; clear: both; display: block;
	}

	#nav1 ul li {
	float: left;
	}
	#nav1 > ul  > li:first-child {
	margin-left: 20px;
	}
	#nav1 > ul > li:last-child {
	margin-right: 20px;
	} 
	
	#nav1 ul li:hover {
			background: #555;
			//background: linear-gradient(top, #444 0%, #666 40%);
			//background: -moz-linear-gradient(top, #444 0%, #666 40%);
			//background: -webkit-linear-gradient(top, #444 0%,#666 40%);
		}
		
	#nav1 ul li:hover a {
				color: #fff;
		}
		
	#nav1 ul li a {
			display: block; padding: 6px 20px;
			color: #777; text-decoration: none;
		}	
		
	#nav1 ul ul {
		background: #666; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
	
	#nav1 ul ul li {
			position: relative; float: none; 
			border-top: 1px solid #777;
			border-bottom: 1px solid #555; 
		}
	
	#nav1 ul ul li a {
				padding: 4px 20px;
				color: #fff;
			}	
	
	#nav1 ul ul li a:hover {
				background: #555;
			}
		
	#nav1 ul ul ul {
		position: absolute; left: 100%; top:0;
	}


/************************************************************************************
CONTENT & POST
*************************************************************************************/
#content {
	margin: 20px 0;
	padding:0; 
			width: 67%;
			
	float: left;
	border-radius:4px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

/* post */
.post-title {
	display: block; 
	color:#9a8; 
	letter-spacing: 0.2em; 
	margin:0;  /* -5px 0 10px 0;  margin: -20px; padding:20px;  */ 
	padding: 12px 20px;
	font: bold 26px/120% Georgia, "Times New Roman", Times, serif;
	background-color: #eff4db;
		/* rounded tops  */
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.post-body {
	background: #fff;
	padding: 10px 20px;
	xfont: bold 26px/120% Georgia, "Times New Roman", Times, serif;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	line-height:120%;
}

.post-title a {
	text-decoration: none;
	color: #000;
}
.post-meta {
	margin: 0 0 10px;
	font-size: 80%;
}

.post-image {
	margin: 0 0 15px;
}

/* sidebars */
.sidebar-title {
	display: block; 
	color:#9a8; 
	letter-spacing: 0.2em; 
	margin:0;  /* -5px 0 10px 0;  margin: -20px; padding:20px;  */ 
	padding: 12px 20px;
	font: bold 26px/120% Georgia, "Times New Roman", Times, serif;
	background-color: #eff4db;
		/* rounded tops  */
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.sidebar-body {
	background: #fff;
	padding: 10px 20px;
	xfont: bold 26px/120% Georgia, "Times New Roman", Times, serif;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	line-height:120%;
}

sidebar-title a {
	text-decoration: none;
	color: #000;
}
sidebar-meta {
	margin: 0 0 10px;
	font-size: 80%;
}


#sidebar {
	width: 280px;
	float: right;
	margin: 20px 0;
}

#sidebar img {
	width: 48px;
	height: 48px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
}

.sidebar-body {
	padding-top:20px;
}

.sidebartxt {
	font-size: 80%;
}





/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
	clear: both;
	color: #666;
	font-size: 85%;
	margin-left:32px;
}
#footer a {
	color: #371;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }